section#equipo.about
  .about__container
    .about__us
      h2.about__title.about__title--main ¿Quiénes somos?
      p.about__text
        |Somos un grupo de profesionales altamente calificados en el área de ingeniería de proyectos civiles e industriales, que muestra con su talento, compromiso e innovación en diversas disciplinas, dar confianza y confort a todos sus clientes.
        //- |Somos un grupo de profesionales altamente calificados en el área de ingeniería de proyectos civiles e industriales en diversas disciplinas.
        //- |D'yan Estructuras muestra con su talento, compromiso e innovación, dar confianza y confort a todos sus clientes.
      .about__cta
        a.button.button--slide.bg--primary.dark-gray(href="./equipo.html")
          span Conoce al equipo
          span.button__icon.bg--secondary
            img(src="./assets/images/icons/buttons/group.svg" alt="")
    .about__mission
      h2.about__title.primary Misión
      p.about__text.white.
        Nuestra misión se basa en innovar, proyectar y satisfacer las necesidades de nuestros clientes desarrollando cada reto con calidad, seguridad y planificación.
    .about__vision
      h2.about__title Visión
      p.about__text.
        D'yan Estructuras se proyecta como una empresa líder en el sector de la Arquitectura e Ingeniería, y lo hace cumpliendo los estándares normativos y de calidad.