section.banner.bg--primary
  .banner__container
    .banner__row.no-gutter
      .col-xs-12
        .banner__content
          p.banner__text Estamos para todas tus necesidades de construcción
          a.button.button--slide.bg--secondary.white(href="./#proyectos")
            span Contáctanos
            span.button__icon.bg--primary
              img(src="./assets/images/icons/envelope-dark-gray.svg" loading="lazy" alt="")