footer.footer.bg--green
  .wrapper
    .container
      .footer__info
        .col-xs-12.col-sm-6.col-md-3
          .footer__item
            h3.footer__title Diseña con nosotros
            p.footer__text.
              Atrévete a soñar en grande y no temas a los retos en el proyecto que tengas en mente, puesto que contarás con la guía y asesoría de profesionales en el área.
            .item.item--static
              img(src="../assets/images/icons/contact/clock.svg" alt="")
              ul.item__list
                li Lunes - Viernes
                li 8:00am - 5:00pm
        .col-xs-12.col-sm-6.col-md-3
          .footer__item
            h3.footer__title Especialidades
            ul.footer__list
              li
                //- a(href='')
                img(src="../assets/images/icons/footer/home.svg" alt="")
                span Arquitectura
              li
                //- a(href='')
                img(src="../assets/images/icons/footer/buildings.svg" alt="")
                span Estructuras
              li
                //- a(href='')
                img(src="../assets/images/icons/footer/calculator.svg" alt="")
                span Costos y presupuestos
              li
                //- a(href='')
                img(src="../assets/images/icons/footer/line-chart.svg" alt="")
                span Gestión de proyectos
              li
                //- a(href='')
                img(src="../assets/images/icons/footer/droplet.svg" alt="")
                span Instalaciones sanitarias
              li
                //- a(href='')
                img(src="../assets/images/icons/footer/bulb.svg" alt="")
                span Instalaciones eléctricas
        .col-xs-12.col-sm-6.col-md-3
          .footer__item
            h3.footer__title Ubicanos en
            .item.item--static
              img(src="../assets/images/icons/contact/map-marker.svg" alt="")
              ul.item__list
                li Jr. Paseo El Bosque 141
                li San Borja,
                li Lima.
            .item.item--static
              img(src="../assets/images/icons/contact/phone.svg" alt="")
              ul.item__list
                li +51 982 303 956
                li +51 947 140 098
            .item.item--static
              img(src="../assets/images/icons/contact/at.svg" alt="")
              ul.item__list
                li info@dyanstructuras.com
                li admin@dyanstructuras.com
        .col-xs-12.col-sm-6.col-md-3
          .footer__item
            h3.footer__title Nuestras ubicaciones
            .footer__map
              img(src="../assets/images/img-map.png" alt="Mapa del mundo")
              a.footer__pin(href="https://goo.gl/maps/dLYwrr2GFdijsiAdA" target="_blank")
              a.footer__marker(href="https://goo.gl/maps/dLYwrr2GFdijsiAdA" target="_blank")


  .wrapper
    .container
      .footer__credits
        a.brand.brand--footer(href="../index.html")
        p.footer__copyright
          b © 2021 D'yan Estructuras. 
          | Todos los derechos reservados.
        p.footer__author
          | Diseñado y desarrollado por
          a.footer__logo(href="" target="_blank") LOGO
        .footer__networks
          a(href="" target="_blank")
            img(src="../assets/images/icons/networks/facebook.svg" alt="")
          a(href="" target="_blank")
            img(src="../assets/images/icons/networks/instagram.svg" alt="")
          a(href="" target="_blank")
            img(src="../assets/images/icons/networks/linkedin.svg" alt="")