section#proyectos.projects
  .container
    .row.middle-xs
      .col-xs-12
        .projects__wrapper
          .projects__selectors
            button#residentials.active(data-trigger="slider") Residenciales
            button#commercials.active(data-trigger="slider") Comerciales
            button#industrials.active(data-trigger="slider") Industriales
          // mobile only 
          .projects__container.mobileOnly
            // residentials 
            .projects__siema.active(data-slider="residentials")
              // slide 
              .projects__slide
                // cebaf 
                .projects__item
                  img.projects__img(src="./assets/images/projects/cebaf/1.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Centro de Atención de Fronteras (CEBAF)
                    p.projects__description Diseño y cálculo estructural de columnas, vigas y losas macizas
                    a.projects__link(href="./proyectos/cebaf.html") Ver más
              // slide 
              .projects__slide
                // edificio de oficinas de concreto armado 
                .projects__item
                  img.projects__img(src="./assets/images/projects/edificio-oficinas-concreto-armado/1.png", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Edificio de Oficinas de Concreto Armado
                    p.projects__description Edificación de oficinas con diez (10) niveles
                    a.projects__link(href="./proyectos/edificios-oficinas-concreto-armado.html") Ver más
              // slide 
              .projects__slide
                // multifamiliar concreto armado 
                .projects__item
                  img.projects__img(src="./assets/images/projects/multifamiliar-concreto-armado/1.png", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Edificio Multifamiliar de Concreto Armado
                    p.projects__description Edificación de viviendas multifamiliares
                    a.projects__link(href="./proyectos/multifamiliar-concreto-armado.html") Ver más
              // slide 
              .projects__slide
                // espacios publicos parque distrito ate lima 
                .projects__item
                  img.projects__img(src="./assets/images/projects/espacios-publicos-parque-distrito-ate-lima/1.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Espacios Públicos en el Parque N. Distrito Ate. Lima
                    p.projects__description Parque N de la UCV 174
                    a.projects__link(href="./proyectos/espacios-publicos-parque-distrito-ate-lima.html") Ver más

            // commercials 
            .projects__siema.active(data-slider="commercials")
              // slide 
              .projects__slide
                .projects__item
                  img.projects__img(src="./assets/images/intro/first-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más
              // slide 
              .projects__slide
                .projects__item
                  img.projects__img(src="./assets/images/intro/second-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más

            // industrials 
            .projects__siema.active(data-slider="industrials")
              // slide 
              .projects__slide
                .projects__item
                  img.projects__img(src="./assets/images/intro/third-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="") Ver más
              // slide 
              .projects__slide
                .projects__item
                  img.projects__img(src="./assets/images/intro/first-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="") Ver más
          
          // tablet only 
          .projects__container.tabletOnly
            // residentials 
            .projects__siema.active(data-slider="residentials")
              // slide 
              .projects__slide
                // cebaf 
                .projects__item
                  img.projects__img(src="./assets/images/projects/cebaf/1.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Centro de Atención de Fronteras (CEBAF)
                    p.projects__description Diseño y cálculo estructural de columnas, vigas y losas macizas
                    a.projects__link(href="./proyectos/cebaf.html") Ver más
                // edificio de oficinas de concreto armado 
                .projects__item
                  img.projects__img(src="./assets/images/projects/edificio-oficinas-concreto-armado/1.png", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Edificio de Oficinas de Concreto Armado
                    p.projects__description Edificación de oficinas con diez (10) niveles
                    a.projects__link(href="./proyectos/edificio-oficinas-concreto-armado.html") Ver más
                // multifamiliar concreto armado 
                .projects__item
                  img.projects__img(src="./assets/images/projects/multifamiliar-concreto-armado/1.png", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Edificio Multifamiliar de Concreto Armado
                    p.projects__description Edificación de viviendas multifamiliares
                    a.projects__link(href="./proyectos/multifamiliar-concreto-armado.html") Ver más
              // slide 
              .projects__slide
                // espacios publicos parque distrito ate lima 
                .projects__item
                  img.projects__img(src="./assets/images/projects/espacios-publicos-parque-distrito-ate-lima/1.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Espacios Públicos en el Parque N. Distrito Ate. Lima
                    p.projects__description Parque N de la UCV 174
                    a.projects__link(href="./proyectos/espacios-publicos-parque-distrito-ate-lima.html") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/second-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/first-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="") Ver más

            // commercials 
            .projects__siema.active(data-slider="commercials")
              // slide 
              .projects__slide
                .projects__item
                  img.projects__img(src="./assets/images/intro/first-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/first-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/first-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más
              // slide 
              .projects__slide
                .projects__item
                  img.projects__img(src="./assets/images/intro/second-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/first-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/third-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet

            // industrials 
            .projects__siema.active(data-slider="industrials")
              // slide 
              .projects__slide
                .projects__item
                  img.projects__img(src="./assets/images/intro/second-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/third-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/third-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más
              // slide 
              .projects__slide
                .projects__item
                  img.projects__img(src="./assets/images/intro/second-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/first-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/second-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más

          // desktop only 
          .projects__container.desktopOnly
            // residentials 
            .projects__siema.active(data-slider="residentials")
              // slide 
              .projects__slide
                // cebaf 
                .projects__item
                  img.projects__img(src="./assets/images/projects/cebaf/1.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Centro de Atención de Fronteras (CEBAF)
                    p.projects__description Diseño y cálculo estructural de columnas, vigas y losas macizas
                    a.projects__link(href="./proyectos/cebaf.html") Ver más
                // edificio de oficinas de concreto armado 
                .projects__item
                  img.projects__img(src="./assets/images/projects/edificio-oficinas-concreto-armado/1.png", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Edificio de Oficinas de Concreto Armado
                    p.projects__description Edificación de oficinas con diez (10) niveles
                    a.projects__link(href="./proyectos/edificio-oficinas-concreto-armado.html") Ver más
                // multifamiliar concreto armado 
                .projects__item
                  img.projects__img(src="./assets/images/projects/multifamiliar-concreto-armado/1.png", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Edificio Multifamiliar de Concreto Armado
                    p.projects__description Edificación de viviendas multifamiliares
                    a.projects__link(href="./proyectos/multifamiliar-concreto-armado.html") Ver más
                // espacios publicos parque distrito ate lima 
                .projects__item
                  img.projects__img(src="./assets/images/projects/espacios-publicos-parque-distrito-ate-lima/1.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Espacios Públicos en el Parque N. Distrito Ate. Lima
                    p.projects__description Parque N de la UCV 174
                    a.projects__link(href="./proyectos/espacios-publicos-parque-distrito-ate-lima.html") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/second-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/first-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="") Ver más
              // slide 
              .projects__slide
                .projects__item(href="./proyectos/building.html" target="_blank")
                  img.projects__img(src="./assets/images/intro/first-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/second-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/third-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/third-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/second-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/first-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="") Ver más

            // commercials 
            .projects__siema.active(data-slider="commercials")
              // slide 
              .projects__slide
                .projects__item
                  img.projects__img(src="./assets/images/intro/first-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/second-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/third-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/third-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/first-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/first-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más
              // slide 
              .projects__slide
                .projects__item
                  img.projects__img(src="./assets/images/intro/second-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/first-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/second-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/third-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                .projects__item
                  img.projects__img(src="./assets/images/intro/second-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/third-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más

            // industrials 
            .projects__siema.active(data-slider="industrials")
              // slide 
              .projects__slide
                .projects__item
                  img.projects__img(src="./assets/images/intro/first-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/second-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/third-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/first-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/second-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/third-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más
              // slide 
              .projects__slide
                .projects__item
                  img.projects__img(src="./assets/images/intro/second-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/first-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/third-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/third-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/first-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más
                .projects__item
                  img.projects__img(src="./assets/images/intro/second-layout.jpg", alt="")
                  .projects__content.border-slide
                    .border-slide
                    h3.projects__title Etiam Semaurt
                    p.projects__description Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet
                    a.projects__link(href="./building.html") Ver más
              
          .projects__buttons.active(data-slider="residentials")
            button.projects__prev
            button.projects__next
          .projects__buttons.active(data-slider="commercials")
            button.projects__prev
            button.projects__next
          .projects__buttons.active(data-slider="industrials")
            button.projects__prev
            button.projects__next