section.testimonials
  .wrapper
    .container
      .row.middle-xs
        .col-xs-12.col-md-offset-1.col-md-5.no-gutter
          .testimonials__content
            h2.testimonials__title ¿Qué dicen nuestros clientes?
            .siema.testimonials__slider
              .testimonials__comment
                p.testimonials__text.
                  Pellentesque imperdiet, nunc quis laoreet venenatis, lacus nisl porta
                  sapien, non euismod justo purus sed urna. Proin a lacus varius, porta augue
                  ut, ornare quam. Vestibulum porta pellentesque ligula sed consequat. Aliquam orci ex, suscipit eget eros et, molestie interdum ante.
                .testimonials__client
                  .testimonials__logo
                    img(src="./assets/images/clients/tf.svg" alt="")
                  ul.testimonials__info
                    li.testimonials__name Telecom Company
                    li.testimonials__city Mexico
                    li.testimonials__site
                      a(href="" target="_blank") www.telecomcompany.com.mx
              .testimonials__comment
                p.testimonials__text.
                  Pellentesque imperdiet, nunc quis laoreet venenatis, lacus nisl porta
                  sapien, non euismod justo purus sed urna. Proin a lacus varius, porta augue
                  ut, ornare quam. Vestibulum porta pellentesque ligula sed consequat. Aliquam orci ex, suscipit eget eros et, molestie interdum ante.
                .testimonials__client
                  .testimonials__logo
                    img(src="./assets/images/clients/hnk.svg" alt="")
                  ul.testimonials__info
                    li.testimonials__name Telecom Comliany
                    li.testimonials__city Mexico
                    li.testimonials__site
                      a(href="" target="_blank") www.telecomcompany.com.mx
            .testimonials__buttons
              button.prev
              button.next
        .col-xs-12.col-md-5
          ul.testimonials__list
            li.
              Proin a lacus varius, porta augue ut, ornare quam. Vestibulum porta pellentesque ligula sed consequat.
            li.
              Aliquam orci ex, suscipit eget eros et, molestie interdum ante.
            li.
              Proin a lacus varius, porta augue ut, ornare quam. Vestibulum porta pellentesque ligula sed consequat.
            li.
              Aliquam orci ex, suscipit eget eros et, molestie interdum ante.