a#whatsappLink.whatsapp(href="https://wa.me/584123218353")
  img#whatsappIcon.whatsapp__img(src="../assets/images/icons/whatsapp.svg", alt="WhatsApp icon")
  .whatsapp__chat
    // message 
    .whatsapp__content
      .whatsapp__bubble
        .whatsapp__txt
          span.whatsapp__name D'yan Estructuras
          span.whatsapp__timestamp 10:20 pm  
          span.whatsapp__message ¿Qué esperas para escribirnos?
        .whatsapp__arrow
    // message 
    .whatsapp__content
      .whatsapp__bubble.whatsapp__bubble--follow
        .whatsapp__txt
          span.whatsapp__timestamp 10:21 pm
          span.whatsapp__message ¡Hazlo ahora mismo!