html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

textarea {
  box-sizing: border-box; 
  width: 100%;
}

hr {
  margin: 3% 0;
}

input:focus, select:focus, textarea:focus {
  outline: none;
}

// video {
//   width: 100%;
//   height: auto;
// }

// fieldset {
//   border: 1px solid $black;
//   padding: 5%;
// }

body {
  position: relative;
	margin: auto;
  min-height: 100%;
  background-color: $white;
  color: $dark-gray;
  font-family: $barlow-semi-condensed;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 1;
	overflow-x: hidden;
  &.freeze {
    overflow: hidden;
  }
  & .mobile-only {
    @include respond-to(small) {
      display: none;
    }
  }
  // & .tablet-only {
  //   display: none;
  //   @include respond-to(small) {
  //     display: inherit;
  //   }
  // }
  & .desktop-only {
    display: none;
    @include respond-to(small) {
      display: inherit;
    }
  }
}

.hide {
  opacity: 0;
  visibility: hidden;
}

[data-state] {
  overflow: hidden;
  height: auto;
}

[data-state='collapsed'] {
  @include respond-to(large) {
    height: 0;
  }
}

[data-state='expanded'] {
  height: 0;
  @include respond-to(large) {
    height: auto;
  }
}