// GRID SYSTEM =================================================================
$container-max-width: 100% !default;
$container-max-width-sm: 708px !default;
$container-max-width-md: 960px !default;
$container-max-width-lg: 1120px !default;
$container-max-width-xl: 1120px !default;
$columns-number: 12 !default; // set number of columns in the grid
$gutter: 80px !default; // set gutter size

// BREAKPOINTS =================================================================
$breakpoints: (
  tiny: 360px,
  extra-small: 411px,
  small: 768px,
  medium: 1024px,
  large: 1280px,
  extra-large: 1366px,
  huge: 1920px,
  giant: 2560px,
  colossal: 2880px
) !default;

// COLORS ======================================================================
$primary: #FFC845 !default;
$primary-transparent: transparentize($primary, 0.3) !default;
$secondary: #036F7C !default;
$light-secondary: #68A9AF !default;
$dark-secondary: #256117 !default;
$secondary-transparent: transparentize($secondary, 0.3) !default;
$tertiary: #071A52 !default;
$tertiary-transparent: transparentize($tertiary, 0.1) !default;
$white: #FCFCFC !default;
$pure-white: #FFFFFF !default;
$white-transparent: transparentize($white, 0.8) !default;
$black: #000000 !default;
$black-transparent: transparentize($black, 0.4) !default;
$gray: #D2D2D2 !default;
$light-gray: #ECECEC !default;
$dark-gray: #393E46 !default;
$transparent: transparentize($white, 1) !default;
$success: #28A745 !default;
$error: #DC3545 !default;

// FONTS =======================================================================
$barlow-semi-condensed: 'Barlow Semi Condensed', sans-serif;