.features
  .features__item
    i.features__icon.fas.fa-clock(aria-hidden="true")
    h3.features__title Call us day or night
    p.features__description 118202 never sleeps! Our lines are open 24 hours a day, 7 days a week, 365 days of the year. Call us anytime you need us!
  .features__item
    i.features__icon.fas.fa-running(aria-hidden="true")
    h3.features__title Fast Customer Support
    p.features__description We provide a fast and efficient service by combining great agents with superior technology.
  .features__item
    i.features__icon.fas.fa-coins(aria-hidden="true")
    h3.features__title Cheap Customer Support
    p.features__description Unlike many of our competitors, we keep the cost of calling us fair, simple and competitive.