footer.footer
  .wrapper.bg--bright-orange
    .container
      .footer__top
        p 118 202 The smart number is at your disposal to accompany you 24hrs/365days in your research. Do not forget to add it to the list of your useful numbers.
  .wrapper.bg--strong-blue
    .container
      .footer__bottom
        a.brand(href="./index.html").brand--footer
          .brand__content
            span.brand__title Customer Support
            span.brand__subtitle Get assistance in your inquiries
        .footer__copyright
          .footer__nav
            a(href="./conditions-generales-dutilisation.html") Privacy Policy
            a(href="./legal.html") Legal
            a(href="./contact.html") Contact
          p &copy; Service provided by Sumando Servicios Inteligentes S.L.
        .footer__networks
          a(href="")
            i.fab.fa-facebook-square
          a(href="")
            i.fab.fa-instagram
          a(href="")
            i.fab.fa-twitter-square
        