form.form(action="" method="POST")
  .form__group
    label(for="name") Name
    input#name(type="text" name="user_name" required)
  .form__group
    label(for="email") Email
    input#email(type="email" name="user_email" required)
  .form__group
    label(for="msg") Message
    textarea#msg(name="user_message" required)
  .form__group
    button.form__button.form__button--submit(type="submit") Send