.wrapper.bg--hero-clip-path
  .container.bg--hero-image
    .hero
      .hero__container
        .hero__content
          h1.hero__title Are you looking for a phone number?
          p.hero__subtitle.
            Information and services
          .hero__cta
            a.btn.btn--shine(href="tel:118202" target="_blank")
              i.fas.fa-phone-alt.ring
              |Call to 118202
          p.hero__price.
            Calls Cost £2 per call plus £2 per minute plus your phone company's access charge”. Service provided by Sumando Servicios Inteligentes SL. Customer service customer@sumando.info
  .hero__footer
    p.hero__text Your telephone consultation service