doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Contacto - D'yan Estructuras
    meta(name="description" content="")
    link(rel="icon" type="image/png" href="./assets/images/favicon.png")
    // build:css css/main.min.css 
    link(rel="stylesheet" href="./css/main.css")
    // endbuild 
    // build:js js/global.min.js defer 
    script(src="./js/helpers/utils.js" defer)
    script(src="./js/helpers/variables.js" defer)
    script(src="./js/helpers/numbers.js" defer)
    script(src="./js/set-vh.js" defer)
    script(src="./js/preloader.js" defer)
    script(src="./js/menu.js" defer)
    script(src="./js/show-whatsapp.js" defer)
    // endbuild 
    // build:js js/contact.min.js defer
    script(src="./js/form-validation.js" defer)
    script(src="./js/send-email.js" defer)
    script(src="./js/contact.js" defer)
    // endbuild 
  body.freeze

    // preloader 
    include partials/preloader.pug

    // header 
    include partials/header.pug

    // contact 
    section.contact
      .wrapper
        .container
          .row.middle-xs
            .col-xs-12.col-md-offset-1.col-md-5.no-gutter
              .contact__form
                h2.contact__subtitle Queremos saber más de tu proyecto, estamos listos para trabajar contigo.
                form.form(action="" method="POST")
                  .form__group.form__group--required
                    label
                      input(type="text" name="contactName" placeholder="Nombre y apellido" pattern="^[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'_-]+$" required)
                  .form__group
                    label
                      input(type="text" name="contactCompany" placeholder="Empresa")
                  .form__group.form__group--required
                    label
                      input(type="tel" name="contactPhone" placeholder="Teléfono" pattern="^([(]?[+]?\\d{1,3}[)]?\\s?)?(\\s?[-]?\\s?[.]?\\d{2,})*(\\s?[.]?[-]?\\d{2,})$" required)
                  .form__group.form__group--required
                    label
                      input(type="email" name="contactEmail" placeholder="Correo electrónico" pattern="^[a-z0-9]+(\\.[_a-z0-9]+)*@[a-z0-9-]+(\\.[a-z0-9-]+)*(\\.[a-z]{2,15})$" required)
                  .form__group.form__group--required
                    label
                      input(type="text" name="contactSubject" placeholder="Motivo de contacto" required)
                  .form__group
                    label(for="msg")
                      |Mensaje
                      span *
                    textarea#msg(name="contactNote" data-pattern="^.{15,255}$" required)
                  .form__group
                    input#accept(type="checkbox" name="accept" required)
                    label#labelPolitics(for="accept")
                      |Acepto las 
                      a(href="") políticas de privacidad
                  .form__group.form__group--tiny
                    p
                      |Los campos con asterico (
                      span *
                      |) son obligatorios
                  .form__group.form__group--submit
                    button.form__button.form__button--submit(type="submit")
                      img(src="./assets/images/icons/contact/mail-send.svg" alt="")
                      span Enviar
                    .form__loading
                      img(src="./assets/images/icons/contact/spin.svg", alt="")
                  .form__group.form__message
                    p
            .col-xs-12.col-md-5.no-gutter
              .contact__info
                .contact__content
                  h1.contact__title
                    span ¡Agenda una reunión con nosotros! 
                    |Escríbenos o envíanos una nota por 
                    span WhatsApp. 
                    |Nuestro equipo esta preparado para atender y responder todas tus inquietudes.

    // banner 
    section.banner.bg--primary
      .banner__container
        .banner__row.no-gutter
          .col-xs-12
            .banner__content
              p.banner__text
                |¡Descubre todo lo que podemos hacer por ti!
              a.button.button--slide.bg--secondary.white(href="./#proyectos")
                span Ver proyectos
                span.button__icon.bg--primary
                  img(src="./assets/images/icons/buttons/folder-open.svg" alt="")

    // footer 
    include partials/footer.pug

    // whatsapp 
    include partials/whatsapp.pug
