doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Contact number by phone, contact phone number uk, helpline, customer service
    meta(name="description" content="Your customer service and contact phone number in uk, 24 hour customer service number.")
    link(rel="icon" type="image/png" href="./assets/images/favicon.png")
    // build:css css/main.min.css 
    link(rel="stylesheet" href="./css/main.css")
    // endbuild 
  body

    // header 
    include includes/header.pug

    // hero 
    include includes/hero.pug
    
    // important information 
    section.wrapper
      .container
        .row
          .box.box--sm.box--lg
            h2.heading.
              We are an information service and telephone help not associated with any public or private company
            p.text.
              We can inform you about the service of your choice thanks to our database updated periodically. If you are looking for the amount of customer service from your provider, we can provide it in the same way as your favorite e-commerce site.
            p.text.
              It is not necessary to find the correct number of customer service you need, we will inform you immediately of the correct contact number.
            p.text.
              Get more information on how to get in touch Attention, some brands may not make a contact number available to their customers, in which case we will inform you of an email address or an account on the networks. Social.
            p.text
              |You can search us, wiht this keywords: 
              b call, contact number, contact by phone, contact phone number, contact number uk, helpline, customer service, customer service number, customer service phone, customer service telephone number, customer service phone number, customer service phone number uk, customer service number uk, customer service uk, contact phone number uk, 24 hour customer service number, contact number uk, telephone number, phone number.

    // features 
    section.wrapper.bg--very-light-gray
      .container
        .row
          .box.box--sm.box--xl
            include includes/features.pug
  
    section.wrapper
      .container
        .row
          .box.box--sm.box--lg
            h2.heading FAQ about our services
            p.text.text--bold Can you find Residential Telephone Numbers &amp; Addresses?
            p.text.text--bordered Yes, we can search for UK residential telephone numbers by name and location.
            p.text.text--bold Can you find Business Telephone Numbers &amp; Addresses?
            p.text.text--bordered Yes, we can search for UK businesses by name or type of business and location.
            p.text.text--bold Can you connect/transfer me to the telephone number?
            p.text.text--bordered Yes. The cost of the call would continue at the same rate as calling 118202.
            p.text.text--bold What hours do you operate?
            p.text.text--bordered Our lines are open 24 hours a day.
            p.text.text--bold Who answers the calls?
            p.text.text--bordered All calls are answered by our trained staff who are based in our offices in the UK.
            p.text.text--bold How much does it cost to call?
            p.text.text--bordered Calls to 118202 cost £2.00 per minute, (minimum charge £2.00), plus your phone company’s access charge.
            p.text.text--bold Can you text me?
            p.text.text--bordered At present we can either read out the telephone number (or other information) to you, or connect/transfer you. Calls to 118202 cost £2.00 per minute, (minimum charge £2.00), plus your phone company’s access charge.

    // cta 
    include includes/cta.pug

    // footer 
    include includes/footer.pug

    // scripts 
    include includes/scripts.pug