doctype html
html(lang="en")
  head    
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Telephone, contact, customer service phone number
    meta(name="description" content="Telephone 118202 , customer service phone number call 118202, 24h.")
    link(rel="icon" type="image/png" href="./assets/images/favicon.png")
    // build:css css/main.min.css 
    link(rel="stylesheet" href="./css/main.css")
    // endbuild 
  body

    // header 
    include includes/header.pug

    // information and complaints  
    section.wrapper.full--height.bg--very-light-gray
      .container
        .row
          .box.box--sm.box--lg
            h2.heading Information and complaints
            p.text.
              All requests for information and / or claims related to the application of these General Conditions may be addressed:
            ul.list
              li Sumando Servicios Inteligentes S.L.
              li B-87910956
              li c/ Rio Ulla 8 1ºC, 28017 Madrid
              li Email: admin@sumando.info

    // footer 
    include includes/footer.pug
    
    // scripts 
    include includes/scripts.pug