.brand {
  z-index: 102;
  position: absolute;
  left: calc($gutter / 2);
  display: flex;
  align-items: center;
  margin: 12px 0;
  background-image: url('../assets/images/logo.svg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  width: 130px;
  height: 46px;
  line-height: 1;
  text-decoration: none;
  transition: 0.4s ease;
  @include respond-to(small) {
    left: 0;
  }
  &--change {
    background-image: url('../assets/images/logo-white.svg');
  }
  &--shrink {
    background-size: cover;
    width: 120px;
    height: 30px;
  }
  &--footer {
    z-index: 98;
    position: relative;
    left: 0;
    background-image: url('../assets/images/logo-white.svg');
  }
}