.cta {
  position: fixed;
  bottom: -100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 103;
  transition: visibility .3s, opacity .6s, bottom .6s;
  &--show {
    visibility: visible;
    opacity: 1;
    bottom: 0;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: $strong-blue;
    text-align: center;
  }  
  &__title {
    padding: 3%;
    width: 100%;
    color: $white;
    line-height: 1;
  }
  &__btn {
    margin: auto;
    border-radius: 20px;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 60px;
    background-color: $bright-orange;
    color: $white;
    font-family: $open-sans;
    font-size: 24px;
    font-weight: 700;
    text-shadow: 1px 1px 3px $black;
    box-shadow: 5px 5px 0 $strong-orange;
    & i {
      margin-right: 10px;
    }
  }
  &__price {
    padding: 3%;
    color: $white;
    font-family: $open-sans;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.2;
  }
}