.footer {
  color: $white;
  &__credits, &__info {
    @extend %row;
  }
  &__info {
    padding: 80px 0 40px;
    margin: 0;
    @include respond-to(large) {
      margin: 0 -40px;
    }
  }
  &__item {
    margin-bottom: 60px;
    @include respond-to(large) {
      margin-bottom: 0;
    }
  }
  &__title {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 500;
  }
  &__text {
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.5;
  }
  &__list {
    list-style: none;
    padding: 0;
    & li {
      margin-bottom: 20px;
      display: flex;
      align-items: flex-end;
      color: $white;
      font-weight: 300;
      & img {
        margin-right: 10px;
        width: 20px;
        height: 20px;
        object-fit: contain;
      }
    }
  }
  &__map {
    position: relative;
    width: 100%;
    height: 100%;
    & img {
      object-fit: contain;
      width: 100%;
      height: auto;
    }
  }
  &__marker {
    position: absolute;
    left: 23%;
    bottom: 28%;
    border-radius: 50%;
    background-color: $primary;
    height: 5px;
    width: 5px;
    transform: rotateX(55deg);
    @include respond-to(tiny) {
      left: 23.3%;
      bottom: 28%;
    }
    @include respond-to(large) {
      left: 23%;
      bottom: 28%;
    }
    &::before {
      content: '';
      position: absolute;
      box-shadow: 0 0 1px 2px $primary;
      margin: -15px 0 0 -17px;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      animation: wave ease-out 1.2s infinite;
      opacity: 0;
    }
  }
  &__pin {
    position: absolute;
    left: 15.5%;
    bottom: 31%;
    width: 40px;
    height: 40px;
    background-image: url('../assets/images/icons/footer/map-marker.svg');
    background-size: contain;
    background-repeat: no-repeat;
    animation: movedown 0.6s ease-in-out infinite alternate;
    @include respond-to(tiny) {
      left: 17.5%;
    }
    @include respond-to(small) {
      left: 17%;
    }
    @include respond-to(large) {
      left: 15%;
      bottom: 30%;
    }
  }
  &__credits {
    padding: 0 40px 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 240px;
    @include respond-to(large) {
      flex-direction: row;
      padding: 0 0 20px;
      height: auto;
    }
  }
  &__copyright, &__author {
    line-height: 1.2;
    text-align: center;
    @include respond-to(large) {
      text-align: left;
    }
  }
  &__logo {
    color: $white;
  }
}