.wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 5%;
  max-width: 1280px;
  height: 100%;
  @include respond-to(large) {
    padding: 0 60px;
  }
}

.row {
  padding: 60px 0;
}

.box {
  margin: 0 auto;
  max-width: 100%;
  &--sm {
    @include respond-to(small) {
      max-width: 576px;
    }
  }
  &--md {
    @include respond-to(large) {
      max-width: 768px;
    }
  }
  &--lg {
    @include respond-to(large) {
      max-width: 992px;
    }
  }
  &--xl {
    @include respond-to(large) {
      max-width: 1140px;
    }
  }
}